body {
    background-color: rgb(66, 28, 66)
}

.container-fluid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 300px;
    width: 300px;
    padding: 50px;
    
}

img:hover {
    cursor: pointer;
}


#header {
    text-align: center;
    font-size: 56px;
    color: rgb(228, 166, 9);
    position: relative;
    top: -165px;
    left: 135px;
}

.text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 75px;
    top: -75px;
}

#soothe {
    position: relative;
    top: 250px;
}

#foot {
    height: 400px;
    width: 60px;
}

#boots {
    height: 400px;
    width: 60px;
}

#briefs {
    height: 400px;
    width: 60px;
}

.content {
    position: relative;
    top: -220px;
}

.content h5 {
    font-size: 45px;
    color: rgb(228, 166, 9);
    text-shadow: 6px 4px rgb(65, 61, 53);
}

.content p {
font-size: 35px;
color: rgb(228, 166,9);
position: relative;
top: 220px;
}

strong {
    color: rgb(173, 62, 10);
}

.form {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.label {
    font-size: 15px;
    color: rgb(228, 166, 9);
    
}

#button {
    border: 2px solid rgb(228, 166, 9);
    color: rgb(228, 166, 9);
}

#button:hover {
cursor: pointer;
border: 4px solid rgb(228, 166, 9);
text-shadow: 2px 2px rgb(82, 29, 82);
}

